form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 20px;
  margin-right: 20px;
}

.card {
  margin-top: 30px;
  width: 75%;
}

.container {
  display: flex;
  justify-content: center;
}